.Container {
  margin-top: 20px;
  background-color: cornsilk;
  box-shadow: 10px 12px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;

  h4 {
    margin: unset;
  }
}

.Container-dark {
  margin-top: 20px;
  background-color: crimson;
  box-shadow: 10px 12px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;

  h4 {
    margin: unset;
  }
}

.Container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.Body {
  margin: unset;
  text-align: center;
  padding: 20px;

  h3 {
    margin: unset;
  }
}

.Form {
  gap: 8px;
  justify-content: center;
  display: flex;
  margin: 16px;
}
